[submodule "boost"]
	path = boost
	url = https://github.com/JrGoodle/boost.git
[submodule "rdkit"]
	path = rdkit
	url = https://github.com/rdkit/rdkit.git
[submodule "ios-cmake"]
	path = ios-cmake
	url = https://github.com/JrGoodle/ios-cmake.git
[submodule "icu4c-iosx"]
	path = icu4c-iosx
	url = git@github.com:apotocki/icu4c-iosx.git
